# dependencies
node_modules/

# env files (IMPORTANT - secrets)
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# temp execution files (VERY IMPORTANT)
tmp/

# OS files
.DS_Store
Thumbs.db

# optional - if you use nodemon logs
*.log